{% extends 'FsbStreetMarketAppBundle:Pages:app.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@FsbStreetMarketAppBundle/Resources/public/sass/bootstrap.scss'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/roboto.css'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/ripples.css'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css'
        '@FsbStreetMarketAppBundle/Resources/public/sass/camera.scss'
        '@FsbStreetMarketAppBundle/Resources/public/sass/map.scss'
        filter='?uglifycss'
        output='css/home.min.css'
        %}
        <link rel='stylesheet' href='{{ asset_url }}' />
    {% endstylesheets %}
{% endblock %}

{% block app_container %}
    <section id='alert-container' v-component='alert' v-ref='Alert'></section>
    <main v-component='{% raw %}{{ view }}{% endraw %}' v-ref='View'></main>
    <nav class='navbar navbar-fixed-bottom navbar-material-indigo-800 navbar-center'>
        <p class='navbar-text text-muted' v-if='!isLocated'><span class='glyphicon glyphicon-map-marker' aria-hidden='true'></span> Looking for your location...</p>
        <a class='btn btn-md btn-info btn-aligned' href='#take-picture' v-on='click: takePicture' v-if='isLocated && isRecording && !isTaken'><span class='glyphicon glyphicon-camera' aria-hidden='true'></span></a>
        <a class='btn btn-md btn-info btn-aligned' href='#record' v-on='click: record' v-if='isTaken'><span class='glyphicon glyphicon-refresh' aria-hidden='true'></span></a>
        <form class='navbar-form' action='#picture' v-if='isTaken'>
            <div class='form-group'>
                <input class='form-control' type='text' placeholder='Name' v-model='title' />
            </div>
        </form>
        <a class='btn btn-md btn-success btn-aligned' href='#validate-picture' v-on='click: validatePicture' v-if='isTaken'><span class='glyphicon glyphicon-check' aria-hidden='true'></span></a>
    </nav>
{% endblock %}

{% block javascripts %}
    <script src='https://maps.googleapis.com/maps/api/js?key={{ apiKeys.google.maps }}'></script>
    {% javascripts
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/jquery/dist/jquery.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/js/ripples.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/js/material.js'
        '@FsbStreetMarketAppBundle/Resources/public/js/polyfills.js'
        '@FsbStreetMarketAppBundle/Resources/public/js/web-app.js'
        filter='?uglifyjs2'
        output='js/home.min.js'
        %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}