{% extends 'FsbStreetMarketAppBundle:Pages:app.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@FsbStreetMarketAppBundle/Resources/public/sass/bootstrap.scss'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/roboto.css'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/ripples.css'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css'
        '@FsbStreetMarketAppBundle/Resources/public/sass/camera.scss'
        filter='?uglifycss'
        output='css/home.min.css'
        %}
        <link rel='stylesheet' href='{{ asset_url }}' />
    {% endstylesheets %}
{% endblock %}

{% block app_container %}
    <section id='alert-container' v-component='alert' v-ref='Alert'></section>
    <main v-component='{% raw %}{{ view }}{% endraw %}' v-ref='View'></main>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/jquery/dist/jquery.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/js/ripples.js'
        '@FsbStreetMarketAppBundle/Resources/public/bower_components/bootstrap-material-design/dist/js/material.js'
        '@FsbStreetMarketAppBundle/Resources/public/js/polyfills.js'
        '@FsbStreetMarketAppBundle/Resources/public/js/web-app.js'
        filter='?uglifyjs2'
        output='js/home.min.js'
        %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}