{% extends 'FsbStreetMarketAppBundle:Pages:app.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@FsbStreetMarketAppBundle/Resources/public/sass/camera.scss'
        filter='scss' output='css/home.css' %}
        <link rel='stylesheet' href='{{ asset_url }}' />
    {% endstylesheets %}
{% endblock %}

{% block app_container %}
    <section id='alert-container' v-component='alert' v-ref='Alert'></section>
    <main v-component='{% raw %}{{ view }}{% endraw %}' v-ref='View'></main>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@FsbStreetMarketAppBundle/Resources/public/js/polyfills.js'
        '@FsbStreetMarketAppBundle/Resources/public/js/web-app.js'
        output='js/home.js' %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}